body{
background:#f6f6f6;
}
a, a:focus { color: @black; }

a:hover { color: lighten(@blueSamsung, 40%); }

#header { 
    #welcome { 
    color: @white;  }
}

#header a img#logo{
    padding-top:0px;
}
#container-main {
	background:@white;  
        box-shadow:0 10px 30px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow:0 10px 30px rgba(0, 0, 0, 0.3);
}
.btnStandard {
    .uni-button(@blueSamsung);
    float:none;
}
.btnStandardDisabled {
    .uni-button(lighten(@blueSamsung, 30%));
}
.btnConfirm {
    .uni-button(@blueSamsung);
}
.btnConfirmDisabled {
    .uni-button(lighten(@blueSamsung, 30%));
}
.btnCancel {
    .uni-button(@red);
}
.btnCancelDisabled {
    .uni-button(lighten(@red, 30%));
}
#insert_save_btn_notes {
    .uni-button(@blueSamsung);
}

#cancel_btn_notes, #cancel_btn_apt{
    .uni-button(@red);
}
 .form-button{
    color: white;
    background:url('Skins/@{theme}/images/black_gradient.jpg') repeat-x top left;
    border:1px solid @blue;
}
a#RATCancelSelection.form-button, input#cancel_btn_note{
    color: white;
    background:@red;
    border:1px solid @redDark;
}
a#RATCancelSelection.form-button:hover, .bottomButtons input#cancel_btn_note:hover{
    color: @gray;
    background:@redDark;
    border:1px solid @redDark;
}
legend{
    color: @black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
	}

#menu { 
    button {
	.plain-button( @blue, @blue, @blueDark );
        span.label { color:@black !important; font-weight:bold;font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;padding:0 2px; }
	border:1px solid @grayMenuBorder;
	background-image:url(Skins/@{theme}/images/menu_bckg2.png);
    } 
    button:hover{
	color:@grayLightest;
	background-image:url(Skins/@{theme}/images/menu_bckg_hover2.png);
	border-top:1px solid lighten(@gray, 10%);
	border-left:1px solid lighten(@gray, 10%);
	border-right:1px solid lighten(@gray, 10%);
	border-bottom:1px solid lighten(@gray, 10%);
	}
	button:active{
	background-image:url(Skins/@{theme}/images/menu_bckg_hover2.png);
	color:@grayLightest;
        border-top:1px solid @gray;
        border-bottom:1px solid @gray;
	}
    .disabled { color:@white;}
    .disabled:hover { .gradient(#f4f4f4, #f2f2f2); text-shadow: 0 1px 0 @gray;  border:1px solid #dddddd; }
}

.breadcrumb {
    div { 
        color: @blueSamsung;
        a { color: @blueSamsung; }
		 background: #EFEFEF;
    	//border: 1px solid #CDCDCD;
        a:hover { text-decoration:underline; }
    }
}

#jobSearchForm a, #productSearchForm a, #newJobBookingForm a, #policySearchForm a {
    .uni-button(@blueSamsung);
    margin-bottom:10px;
    float:none;
}

/* logout button */
html body div#container-main div#header span#welcome a{
.uni-button(@blueSamsung);
position:relative;
float:none;
zoom:1;
bottom:5px;
left:5px;
}

/*  Default Diary  */

.siteMapPanel {

 .borderDiv {
   border-color:#CCCCCC;
   border-width:1px;
   border-style:solid;
 }
 
 #thirdDiv{
.form-button{
background:@blueSamsung !important;
border:1px solid darken(@blueSamsung, 10%) !important;
  }
 }
}


#JobNetworkClientForm
{
        .form-button {
			background:@blueSamsung !important;
                        border:1px solid darken(@blueSamsung, 10%) !important;
        }
}

.jobBookingPanel {
    .blueText { color:@black; }
    form {
        .form-button {
			background:@blueSamsung !important;
                        border:1px solid darken(@blueSamsung, 10%) !important;
                        height:30px;
        }
    }
}

.DTTT_button {
   .uni-button(@blueSamsung);
    float:none;
}

.blueBtn {
   .uni-button(@blueSamsung);
    float:right;
}

a.inline-edit{
    .uni-button(@blueSamsung);
    float:right;
}

a.colorbox{
    .uni-button(@blueSamsung);
    float:right;
}


#timeline_container {
    .past, .past-RED { background: url("Skins/@{theme}/images/past.png") no-repeat center 35px; }
    .present {background: url("Skins/@{theme}/images/present.png") no-repeat center 35px; }
    .present-RED {background: url("Skins/@{theme}/images/present-red.png") no-repeat center 35px; }
    .future, .future-RED { background: url("Skins/@{theme}/images/future.png") no-repeat center 35px; } 
    }

form {
input#quick_find_btn,input#quick_find_btn2 {
        background-image:url('Skins/@{theme}/images/find_address.png');
    }  
}

.raJobsPanel {
   .leftAlign {
        color:@black;
    }
}


#CustomerDetails fieldset legend{
background-image: url(Skins/@{theme}/images/icons_skyline/icons_skyline_user.png);
}

#deliveryAddress fieldset legend{
    background-image: url(Skins/@{theme}/images/icons_skyline/icons_skyline_truck.png);
}
#jobdetails .head{
    background: #adadad;
}
* html #jobdetails .head .icon_c, #jobdetails .head .icon_e{
	background: url("Skins/@{theme}/images/accordion_icons.jpg") no-repeat scroll 0 top transparent;
}

.paging_full_numbers a.paginate_button, .paging_full_numbers {
    color: @black;
}

.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
    color:@grayDark;
}

a.paginate_active{
    color:@black !important;
}

form{
    input.textSubmitButton{
    .uni-button(@blueSamsung);
    }
    input#cancel_btn_notes.textSubmitButton{
    .uni-button(@red);
    }
}

.tableHover {
	background-color: @grayLight;
}

.CsvButton {
    background-image: url("Skins/@{theme}/images/button_gradients.png");
    background:@blueSamsung;
   border:1px solid darken(@blueSamsung, 10%);
}


.AdminItemPanel{
background:url("Skins/@{theme}/images/folder.png") no-repeat 20px 20px;
label{
color: @black;
}
}

.bottomButtonsPanel button#finish_btn.gplus-blue{
float:right !important;
}
fieldset { 
    padding:0 1.4em 1.4em 1.4em;   
    margin: 0 0 0.4em 0;   
    border: 1px solid @gray !important; 
    .border-radius(2px);
}

input#cancel_btn_notes.textSubmitButton{
    background:@red;
    border:1px solid darken(@red, 10%);
}

#loginForm p span a, #loginForm p span a:hover, #loginForm p span a:active,
#loginForm.prepend-5 fieldset p span a[href*="/skyline_samsung/index/index"],
#newuser.main form#newUserForm.prepend-5 fieldset p span a, 
html body div#container-main div#newuser.main form#newUserForm.prepend-5 fieldset p a {
.uni-button(@blueSamsung);
padding-bottom:2px;
}

#cancel_email_btn, #cancel_btn_notes{
button.gplus-red;
background: @red !important;
border:1px solid darken(@red, 10%);
margin-top:2px;
margin-bottom:2px;
}
.gplus-blue, .gplus-red{
    font-size:12px;
    padding:3px 5px !important;
}

.btnStandard, .btnConfirm{
    .uni-button(@blueSamsung);
}
#cancel_email_btn{
button.gplus-red;
background: @red !important;
margin-top:2px;
margin-bottom:2px;
}

.buttonPanel span#cancel a button.gplus-blue{
button.gplus-red;
background: @red !important;
margin-top:2px;
margin-bottom:2px;
}

/* IE6 fix */

* html #loginForm p span a {
        .form-button;
        border:1px solid #dddddd;
        padding-bottom:2px;
        }
* html #jobdetails .head .icon_c, #jobdetails .head .icon_e{
	background: url("Skins/@{theme}/images/accordion_icons.jpg") no-repeat scroll 0 top transparent;
        float: right;
	position:relative;
        height: 18px;
        margin: 0 6px 0 0;
        width: 18px;
	}

 *:first-child+html .jobBookingPanel form .form-button{
        border:1px solid @blueSamsung !important;
        }

.jobConfirmation {
    /*.uni-button(@blueSamsung);*/
}
#csvSelect {
    .uni-button(@blueSamsung);
    position:relative;
    bottom:30px;
    width:100px;
}
#DivEditAddress {
    form {
        .uni-button(@blueSamsung);
    }
}
input#quick_find_btn.textSubmitButton{
    //float: right;
    //margin-right:50px;
}
.weekButtonsActive, .subMenuButtonsActive{
    .uni-button(@blueSamsung);
    margin:0px;
    padding:0px;
}
#accessoriesWrapper{
    margin-top:20px !important;
}
#ServiceCentre fieldset a.top-right{
    margin-right:10px !important;
}